<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softdev.smarttechx.BTRemote">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:logo="@drawable/applogo"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/dash_name"
            android:logo="@drawable/applogo"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ControlActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/dash_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.softdev.smarttechx.BTRemote.MainActivity" />
        </activity>
        <activity
            android:name=".TimerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/dash_name"
            android:parentActivityName=".ControlActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.softdev.smarttechx.BTRemote.ControlActivity" />
        </activity>
        <activity
            android:name=".DeviceListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Holo.Dialog" />

        <service
            android:name=".services.BluetoothBackgroundService"
            android:enabled="true"></service>
    </application>

</manifest>